@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@500;800&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.user-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 1rem;
}
.user-blog h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}
.content {
  background-color: #f3f8fc;
  padding: 30px;
  border: 1px solid #699fcb;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all ease-in-out 0.5s;
}

.wrapper {
  width: 200px;
}
.banner-image {
  width: 100%;
}
.content-blog {
  width: 70%;
  margin: 10px;
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.content-blog h2 {
  font-family: "Poppins";
  padding: 10px;
  margin-bottom: 10px;
}

.content-blog p {
  width: 350px;
  font-family: "Poppins";
  color: #101010;
  font-family: "Lato", sans-serif;
  text-align: justify;
  line-height: 20px;
  overflow: auto;
}
.content-blog p span {
  font-weight: 600;
  font-size: 17px;
  font-family: "Poppins";
}

.button-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button-wrapper .btn {
  font-family: "Poppins";
  font-weight: 600;
  border: none;
  padding: 10px 25px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.button-wrapper .outline {
  background: transparent;
  color: rgb(18, 18, 18);
  border: 1px solid rgba(8, 8, 8, 0.6);
  text-decoration: none;
  transition: all 0.3s ease;
}

.fill {
  background: crimson;
  color: #eeeeee;
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(10, 10, 10, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}

@media (max-width: 605px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 565px) {
  .content {
    margin: 5px;
    padding: 0;
  }
  .container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .content-blog p {
    width: 100%;
  }
}
